.codegen
obj
accesslist.txt
*.csproj
launchSettings.json
tools_asset_info.bin
tools_thumbnail_cache.bin
*.xml
*.dll
*.pdb
*.blend
*.blend1
.blends
*.obj
*.*_c
.intermediate/net5.0/sandbox.deps.json
maps/editor/_bakeresourcecache/toolscene_default_baked/*
sounds/stargates/milkyway/WinSounds.zip
/shaders/includes
/shaders/raymarcher.vfx
/shaders/vfx/example_shader_pc_50_vs.vcs
/shaders/vfx/example_shader_pc_50_ps.vcs
/shaders/vfx/example_shader_pc_50_features.vcs
/shaders/vfx/raymarcher_pc_50_vs.vcs
/shaders/vfx/raymarcher_pc_50_ps.vcs
/shaders/vfx/raymarcher_pc_50_features.vcs
/shaders/vfx/raymarcher.ini
