gatemenu {
    width: 800px;
    height: 500px;
    left: 100px;
    top: 100px;
    position: absolute;
    border-radius: 10px;
    pointer-events: all;
    transition: all 0.1s ease-out;
    position: absolute;
    font-family: poppins;
    opacity: 1;
    background-color: rgba( #111, 0.5 );
    backdrop-filter: blur( 10px );
    display: flex;
    flex-wrap: wrap;

    button {
        transition: all 0.1s ease-out;
        padding: 6px 5px;
        margin-right: 10px;
        font-size: 13px;
        align-items: center;
        font-weight: 600;
        color: #fff;
        cursor: pointer;
    }

    label {
        padding: 10px 10px;
        font-size: 13px;
        color: #fff;
    }

    titlebar {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 5%;
        flex-shrink: 0;
        background-color: rgba(#222, 0.7);

        .close {
            background-color: crimson;
            opacity: 0.5;
            backdrop-filter: blur(10px);
            margin-right: 0px;
            border-top-right-radius: 10px;

            &:hover {
                opacity: 1;
            }
        }

        .title {
            padding: 10px 10px;
            font-size: 13px;
            align-items: center;
            font-weight: 600;
            color: #fff;
        }
    }
}
